body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0px;
    background-color: white;
    background-color: azure;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        margin-block-start: 0px;
        padding-inline-start: 0px;
    }

    ul > li {
        padding: 10px;
    }
}

main {
    max-width: 1250px;
}

#about {
    display: grid;
    grid-template-areas:
        "img title"
        "img description";

    grid-template-columns: 0fr 1fr;

    img {
        grid-area: img;
    }

    h2 {
        grid-area: title;
        align-self: self-end;
        padding-inline-start: 10px;
        margin-block-end: 0px;
    }

    p {
        grid-area: description;
        padding-inline-start: 10px;
    }

    img {
        width: 20vw;
        border-radius: 200px;
    }
}

#portfolio {
    article {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "img title"
            "img description";
    }

    img {
        grid-area: img;
        width: 20vw;
    }

    h3 {
        grid-area: title;
    }

    p {
        grid-area: description;
    }

    article:nth-child(2) > img {
        height: 20vw;
        width: unset;
    }
}
